BarberShopTelas/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cpf" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nome" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Telefone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bairro" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Endereco" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sexo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inserirClienteResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="removerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerClienteResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="atualizarCLiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualizarCLienteResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarCliente">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="listarClienteResult" type="tns:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inserirProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="p" type="tns:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Preco" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descricao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cod_prod" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inserirProdutoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="removerProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="p" type="tns:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerProdutoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="atualizarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="p" type="tns:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualizarProdutoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarProduto">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="listarProdutoResult" type="tns:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfProduto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inserirServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="s" type="tns:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Servico">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Preco" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descricao" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cod_serv" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inserirServicoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="removerServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="s" type="tns:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerServicoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="atualizarServico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="s" type="tns:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualizarServicoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarServico">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarServicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="listarServicoResult" type="tns:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servico" nillable="true" type="tns:Servico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CadastrarAgendamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="a" type="tns:Agendamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Agendamento">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Hora" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cliente" type="tns:Cliente" />
      <xs:element minOccurs="0" maxOccurs="1" name="Servico" type="tns:Servico" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cod_ag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CadastrarAgendamentoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="AtualizarAgendamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="a" type="tns:Agendamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarAgendamentoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="RemoverAgendamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="a" type="tns:Agendamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverAgendamentoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ListarAgendamento">
    <xs:complexType />
  </xs:element>
  <xs:element name="ListarAgendamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ListarAgendamentoResult" type="tns:ArrayOfAgendamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAgendamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agendamento" nillable="true" type="tns:Agendamento" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>