BarberShopTelas/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cpf" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nome" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Telefone" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inserirClienteResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="removerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerClienteResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="atualizarCLiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="atualizarCLienteResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarCliente">
    <xs:complexType />
  </xs:element>
  <xs:element name="listarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="listarClienteResult" type="tns:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>