BarberShopClasses/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pegarTexto">
    <xs:complexType />
  </xs:element>
  <xs:element name="pegarTextoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="pegarTextoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarAAA">
    <xs:complexType />
  </xs:element>
  <xs:element name="retornarAAAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="retornarAAAResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="c" type="tns:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Cliente" />
  <xs:element name="inserirClienteResponse">
    <xs:complexType />
  </xs:element>
</xs:schema>