BarberShopClasses/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65410/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_pegarTexto_InputMessage">
    <wsdl:part name="parameters" element="tns:pegarTexto" />
  </wsdl:message>
  <wsdl:message name="IService1_pegarTexto_OutputMessage">
    <wsdl:part name="parameters" element="tns:pegarTextoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_retornarAAA_InputMessage">
    <wsdl:part name="parameters" element="tns:retornarAAA" />
  </wsdl:message>
  <wsdl:message name="IService1_retornarAAA_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornarAAAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_inserirCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:inserirCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_inserirCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:inserirClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="pegarTexto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/pegarTexto" message="tns:IService1_pegarTexto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/pegarTextoResponse" message="tns:IService1_pegarTexto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retornarAAA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retornarAAA" message="tns:IService1_retornarAAA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retornarAAAResponse" message="tns:IService1_retornarAAA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inserirCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/inserirCliente" message="tns:IService1_inserirCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/inserirClienteResponse" message="tns:IService1_inserirCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pegarTexto">
      <soap:operation soapAction="http://tempuri.org/IService1/pegarTexto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarAAA">
      <soap:operation soapAction="http://tempuri.org/IService1/retornarAAA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/inserirCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:65410/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>